/**************
Mobile First
***************/

@media (min-width: 1000px) {
  
  body {
    background-color: lightcyan;
  }
  
}


/**************
Tablets
***************/

@media (min-width: 1000px) and (max-width:1200px) {
  
  body {
    background-color: #F2FAEF;
  }
  
}



/**************
Desktops
***************/


@media (min-width: 1200px)  {
  
  body {
    background-color: lightgreen;
  }
  
  .arraySerchInput {
    width: 150px;
    height: 20px;
  }
  
  .arrayButton {
    width: 80px ;
    height: 25px;
    background-color: grey;
    color: black;
    font-size: 0.8rem;
  }
  
}