/**************
Mobile First
***************/

/*
@media (max-width: 1000px) {
  
  body {
    background-color: lightcyan;
  }
  
}
*/


/**************
Tablets
***************/

/*
@media (min-width: 455px) and (max-width:795px) {
  
  body {
    background-color: #F2FAEF;
  }
  
}
*/



/**************
Desktops
***************/


@media (min-width: 1000px)  {
  
  body {
    background-color: #fff;
  }
  
  .arraySerchInput {
    width: 150px;
    height: 20px;
    font-size: 1.2rem;
  }
  
  .arrayButton {
    width: 80px ;
    height: 25px;
    background-color: grey;
    color: black;
    font-size: 0.8rem;
  }
  .array li img {
    width: 250px;
    height: 200px;
    display: inline-block;
    margin-right: 3px;
  }
  
  .imgBig {
    width: 500px;
    height: 300px;
  }
  
  
}