/*Fonts*/
@import url('https://fonts.googleapis.com/css?family=Yantramanav:400,500');

@import url('https://fonts.googleapis.com/css?family=Roboto');

/****************
GENERAL STYLE
*****************/

body {
  margin: 0 auto;
  max-width: 750px;
  font-size: 1em;
}
.center {
  text-align: center;
}
.border-top {
  border-top: 1px dotted grey;
  padding-top: 10px;
}

header li{
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid blue;
  padding: 1px 1px;
  margin: 1px 2px 2px 2px;
}

header ul {
  padding-left: 0;
}

header {
  text-align: center;
  border-bottom: 3px solid grey;
  font-family: 'Yantramanav', sans-serif;
}

li {
  list-style: none;
}

kbd {
  background-color: lightgray;
}

/****************
Links
*****************/

li.selected {
  color: white;
  background-color: black;
  padding: 2px 3px;
}

/****************
IMGES
*****************/

img {
  max-width: 100%;
}

/****************
SECTIONS
*****************/

.html li,
.css li,
.javaScript li {
  width: 29.33333%;
  display: inline-block;
  margin: 0 5px;
  background-color: lightgray;
  border: 1px dotted black;
}

/****************
ARRAY
*****************/

.array {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
}
.no-change,
.change,
.es5 {
  display: inline-block;
  border: 1px solid blue;
  border-radius: 25%;
  margin: 4px 15px 2px 35px;
  padding: 1px 1px;
}

.no-change {
  background-color: lightblue;
  
}

.change {
  background-color: tomato;
  display: inline-block;
}

.es5 {
  background-color: yellow;
}

.orderd-list li {
  list-style: decimal;
  border-bottom: 1px dotted grey
}

code {
  background-color: lightgray;
  
}







